<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="All" fileName="/logs/All.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Log4j1XmlLayout/>
        </File>
        <File name="reader" fileName="/logs/reader.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Log4j1XmlLayout/>
        </File>
        <File name="data" fileName="/logs/data.log" append="false">
            <Log4j1XmlLayout/>
        </File>
        <File name="My" fileName="/logs/my.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Log4j1XmlLayout/>
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="ru" level="all" additivity="true">
            <AppenderRef ref="My"/>
            <AppenderRef ref="All"/>
        </Logger>
        <Logger name="ru.iia.fartman.site.services.PageReader" level="all" additivity="true">
            <AppenderRef ref="reader"/>
            <AppenderRef ref="My"/>
            <AppenderRef ref="All"/>
        </Logger>
        <Logger name="ru.iia.fartman.datareader.LigaDataReader" level="all" additivity="true">
            <AppenderRef ref="data"/>
            <AppenderRef ref="My"/>
            <AppenderRef ref="All"/>
        </Logger>
        <!-- Root Logger -->
        <Root level="INFO">
            <AppenderRef ref="All"/>
        </Root>
    </Loggers>
</Configuration>